*{
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --cinza-terciario: #F9F9F9;
    --botao-azul: #167BF7;
    --background-color: #000000;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #072be3;
}

body {
    background-color: var(--background-color);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;    
}

.container__titulo{
    font-size: 28px;
    font-weight: 700
}
.container__botao{
    color: var(--branco-principal);
    background-color: var(--botao-azul);
    padding: 1em;
    border-radius: 8px; 
    text-decoration: none;
    display: block;
    margin-bottom:1em;   
}

.botao__secundario {
    border: 1px solid var(--branco-principal);
    background-color: transparent;
}

.container__imagem {
    margin: 1em 0 2em 0; 
}

.container__aviso {
    color: var(--cinza-secundario);
    font-size: 12px  
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;   
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content:center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__itens {
    font-size: 32px;
    font-weight: 700;
    color: var(--branco-principal);
    
}

.rodape {
    text-align: center;
    margin: 10em 3em 7em 3em;
}

.rodape__logo {
    margin-bottom: 2.5em;
}

.rodape__lista{
    display:flex;
    justify-content: space-evenly;
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 2em;
}

.lista__link {
    text-decoration: none;
    color: var(--branco-principal);
    
}

.rodape__texto {
    font-size: 14px;
    color: var(--cinza-secundario);
}

.lista__link:hover {
    color: var(--botao-azul);
}

.lista__link:active {
    color:purple
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color:var(--background-color);
    font-weight: 500;
}

@media screen and (max-width: 768px) {
    .container{
        display:block;
        background-image: none;
    }    

    .container__imagem {
        width: 50vw;
    }

    .container__caixa {
        margin: 2em 2em; 
    }
    
    .secundario {
        margin:0;
        text-align: center;
    }

    .secundario__imagem {
        width: 50vw;
    }

    .dispositivos__lista {
        display: block;
    }

    .rodape__lista {
        display: block;
    }
}